@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

@reference "tailwindcss";

.title {
  font-family: "Sixtyfour", sans-serif;
  @apply text-[64px] text-[#272525];
}

.subtitle {
  @apply text-2xl italic text-[#272525];
}

.playButton {
  @apply bg-[#bdbab4] text-2xl px-4 py-1 border-[#272525] border-3 rounded;
}
